.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 5px;
    background-color: #b8b8b8;

    &__button {
        display: flex;
        color: #707070;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        line-height: 1;
        padding: 5px 15px;
        position: relative;
        font-size: 20px;
    }
}